h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  color: #800000;
  font-family: 'Times New Roman', Times, serif;
  margin: 1rem 0;
}
div {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div button {
  border: none;
  padding: 1rem 3rem;
  color: #fff;
  background-color: #800000;
  font-size: 1rem;
  font-weight: 600;
}