* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */

.header {
  width: 100%;
}
.logo {
  margin: 1rem 0.5rem;
  font-size: 2rem;
  font-weight: 800;
  text-transform: capitalize;
  letter-spacing: 1px;
  color: #004141;
}
.navbar {
  width: 100%;
  padding: 1rem 4rem 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #004141;
  /* position: relative; */
}
.navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* position: relative; */
}
.nav-item {
  float: left;
  display: inline;
}
.products {
  position: relative;
}
.nav-link {
  text-decoration: none;
  display: block;
  min-width: 8rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  text-align: center;
  border-radius: 4px;
}
/* .products-link {
  position: relative;
} */
.sub-navbar-nav {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  /* transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1; */
  background-color: #004141;
  display: none;
}
.sub-nav-item {
  display: inline;
}
.sub-nav-link {
  text-decoration: none;
  display: block;
  min-width: 8rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  background-color: #004141;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  position: relative;
}
/* .products-link::after {
  content: "abc";
  position: absolute;
  min-width: 100%;
  top: 1rem;
  left: 0;
  padding: 1rem;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
  z-index: 1;
} */
.nav-link:hover {
  background-color: #fff;
  color: #004141;
}
/* .products-link:hover::after {
  transform: scaleX(1);
} */
.products:hover .sub-navbar-nav {
  display: block;
  position: absolute;
}
.btn {
  min-width: 8rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn-info {
  background-color: #fff;
  color: #004141;
}
.btn-info:hover {
  background-color: #eee;
}