@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-display: "Santoshi", "sans-serif";
  --breakpoint-3xl: 120rem;
  --color-avocado-100: oklch(0.99 0 0);  
  --color-avocado-200: oklch(0.98 0.04 113.22);  
  --color-avocado-300: oklch(0.94 0.11 115.03);
}
